* {
     box-sizing: border-box;
    

    }

body{
    margin: 0;
     height: 100vh;
     width: 100vh;
    transform:translate(80%,10%);
    overflow: hidden;
    background:#ecf0f3 ;

}

.form{
    text-align: center;
    text-align: center;
    width: 310px;
    height: 500px;
    background:white;
    border-radius: 30px;
    box-shadow: 10px 10px  15px rgb(216, 216, 216)
   , -15px 15px 15px rgb(216,216, 216) ;

   padding: 50px 50px 35px 35px;
}
img{
    margin: auto;
    width: 150px;
    height: 50px;
   
    box-shadow: 10px  -10px 15px white,
    -10px 10px  15px white;
}

.inner{
    text-align: center;
    padding-left:0px;
    margin-top:1.5cm ;
    line-height: 2cm;
    width: 100%;
}
input{
    padding: 20px;
    border-radius: 30px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    background: none;
    box-shadow: inset 10px 10px 15px rgb(228, 221, 221),
   inset -10px -10px 15px rgb(228, 221, 221);
}

button{
    width: 220px;
    height: 50px;
    border: none;
    box-shadow: 10px 10px 15px white,
    -10px -10px 15px white;
    border-radius: 30px;
    background:#63e06b;
}

button:hover{
    background: #3fa546;
}
